/* Colors to be reused throughout page */
:root {
    --highlight: #087E8B;
    --dark: #3C3C3C;
    --med: #8D99AE;
    --light: #fefefa;
}

/* Generic styles */
h1, h2, h3, h4, p, ul, ol, li {
    margin: 0;
    padding: 0;
}

a {
    color: var(--med);
    text-decoration: none;
    font-size: 1.25rem;
    padding: 5px;
    transition: color 0.3s;
}

a:hover {
    color: var(--highlight);  
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: var(--light);
    color: var(--dark);
}

#container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1366px;
    padding: 2rem;
    margin: auto;
}

/* Header */
header {
    width: 600px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

#header-background {
    z-index: -1;
    width: 400px;
    height: 250px;
    background-color: var(--highlight);
    opacity: 0.5;
    border-radius: 15px 50px 30px;
    position: absolute;
    top: 0;
    left: 200px;
}

h1 {
    font-size: 7rem;
    font-weight: 700;
}

/* Main */
main {
    width: 600px;
    line-height: 2;
    font-size: 1.25rem;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

h2 {
    color: var(--highlight);
    margin-top: 1rem;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

footer a {
    margin: 0 0.5rem;
}

/* Large screens and larger */
@media (min-width: 1250px) {
    #container {
        padding: 4rem;
    }

    header {
        position: fixed;
        top: 5rem;
        left: auto;
        transform: none;
    }

    #header-background {
        position: relative;
        top: -200px;
        left: 50px;
    }

    main {
        position: relative;
        left: 0;
        margin-bottom: 2rem;
        float: right;
        transform: none;
    }

    footer {
        position: fixed;
        bottom: 2rem;
    }
}