* {
    box-sizing: border-box;
}

/* Generic styles */
h1, h2, h3, h4, p, ul, ol, li {
    margin: 0 0 0.5em 0;
    padding: 0;
}

/* Color palette */
:root {
    /* Sketch */
    --black: #131112;
    --white: #F7F7FF;

    /* Neon */
    --dark: #ba5370;
    --light: #f4e2d8;
}

body {
    background-color: var(--white);
    color: var(--black);
}

#container {
    width: 100%;
    max-width: 1100px;
    min-width: 900px;
    padding: 2em 1.5em;
    margin: auto;
}

h1, h2, h3 {
    font-family: 'Rampart One';
    
}

h3 {
    font-size: 1.5rem;
}

/* Banner */
#banner {
    position: relative;
    width: 100%;
    max-width: 1100px;
    min-width: 800px;
    height: 250px;
    margin: 2.5em auto;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
}

.bar {
    background-color: var(--black);
    height: 1px;
    align-self: center;
}

/* Links */
a {
    position: relative;
    color: var(--black);
    text-decoration: none;
    padding: 0.25em;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: border 0.2s;
}

a:hover {
    border: 1px solid var(--black);
}

a::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid transparent;
    border-radius: 1px;
    transform: 
        translate(1px, -2px) 
        rotate(-1deg) 
        skew(2deg, 1deg);
    transition: border 0.2s;
}

a:hover::after {
    border: 1px solid var(--black);
}

/* Main */
main {
    display: flex;
    justify-content: space-between;
}

section {
    position: relative;
    width: 24%;
    padding: 1em 0.5em 0;
    border: 1px solid var(--black);
    border-radius: 3px;
}

section::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid var(--black);
    border-radius: 1px;
    transform: 
        translate(-1px, 2px) 
        rotate(1deg) 
        skew(2deg, -1deg);
}

section ul {
    list-style-type: none;
    font-family: 'Fredericka the Great';
    padding: 0 0 1em;
}

section li {
    padding: 0.5em 0 0;
}

/* Button */
button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: none;
    padding: 0;
    border-radius: 5px 0 5px 5px;
}

/* Folded corner */
button:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    box-shadow: 
        0 0 10px rgba(0,0,0,0.25), 
        -1px 1px 5px rgba(0, 0, 0, 0.25);
    border-width: 25px;
    border-color: var(--black) var(--black) var(--white) var(--white);
    border-radius: 0 0 0 5px;
    transition: border-width 0.5s ease-in;
}

button:hover {
    cursor: pointer;
}

button:hover:before {
    border-width: 30px;
    z-index: 1;
}

/* Transition */
button.transition:before {
    border-width: 100vh 100vw;
    transition: border-width 0.5s ease-out;
}

/* Neon Override */
body.neon {
    background: linear-gradient(45deg, var(--dark), var(--light));
    color: var(--black);
}

body.neon h1, body.neon h2, body.neon h3 {
    font-family: 'Montserrat';
    opacity: 0.75;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

body.neon a {
    font-family: 'IBM Plex Sans Condensed';
    color: var(--white);
    border-radius: 5px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

section.neon a:hover {
    box-shadow:
        5px 5px 10px rgba(0, 0, 0, 0.1),
        -5px -5px 10px rgba(255, 255, 255, 0.1);
    transition: 0.5s;
}

section.neon a:hover, section.neon a:hover::after {
    border: 1px solid transparent;
}

#banner.neon {
    overflow: visible;
    padding: 1em;
    border-radius: 10px;
    box-shadow:
        5px 5px 10px rgba(0, 0, 0, 0.1),
        -5px -5px 10px rgba(255, 255, 255, 0.1);
}

#banner.neon .bar {
    background-color: var(--white);
    max-height: calc(250px - 2em);
    border-radius: 1px;
    opacity: 0.75;
}

section.neon {
    border: none;
    border-radius: 10px;
    padding: 1em 1.25em 0;
    box-shadow:
        5px 5px 10px rgba(0, 0, 0, 0.1),
        -5px -5px 10px rgba(255, 255, 255, 0.1);
}

section.neon::before {
    border: none;
}